.welcome-question {
    display: table-cell;
    vertical-align: middle;
    margin: 0 auto;
    color: #fff;
}

.welcome-question h4 {
    margin-top: 0;
}

.welcome-question .btn {
    margin: 7px 5px;
}