.nested .list-group-item {
    padding-left: 5vw;
}

.overview {
    padding: 0 40vw;
    opacity: 0.9;
}

.list-group-item {
    text-align: left;
    border-radius: 0 !important;
}

.fa-edit {
    color: #0069d9;
}