.App {
  text-align: center;
  height: 100vh;
  display: table;
  width: 100%;
}

.welcome-question {
  display: table-cell;
  vertical-align: middle;
  margin: 0 auto;
}

.welcome-question p{
  margin-top: 0;
}

.skills button.selected{
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.leaflet-container {
  height: 100vh;
  width: 100%;
}
