body {
    background-image: url("https://i.pinimg.com/originals/c5/b8/f2/c5b8f2fb9d1cee516d5e3d1dd56ab5af.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.App {
    text-align: center;
    height: 100vh;
    display: table;
    width: 100%;
}
